<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Say Hello!{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
<main class="container">
    <header>
        <h1 class="text-center display-4">
            <a href="{{ url_for('index') }}" class="text-success"><strong>Say Hello</strong></a>
            <small class="text-muted sub-title">to the world</small>
        </h1>
    </header>
    <!--在模板中添加Python语句和表达式时，我们需要使用特定的定界符把它们标示出来。
        循环语句： {% ... %}
        表达式：  {{ ... }}
        注释：    {# ... #}
        使用功能flash()函数发送的消息会存储在session中，
        我们需要在模板中使用全局函数get_flashed_messages()获取消息并将其显示出来。-->

    {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    <!--  为了能够让子模板方便地覆盖或插入内容到基模板中，
          我们需要在基模板中定义块(block)，在子模板中可以通过定义同名的块来执行继承操作。-->
    {% block content %}{% endblock %}
<!--    <footer class="text-center">-->
<!--        {% block footer %}-->
<!--            <small> &copy; 2018 <a href="http://greyli.com" title="Written by Grey Li">Grey Li</a> /-->
<!--                <a href="https://github.com/greyli/sayhello" title="Fork me on GitHub">GitHub</a> /-->
<!--                <a href="http://helloflask.com" title="A HelloFlask project">HelloFlask</a>-->
<!--            </small>-->
<!--            <p><a id="bottom" href="#" title="Go Top">&uarr;</a></p>-->
<!--        {% endblock %}-->
<!--    </footer>-->
</main>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>